/******************************************************************************
 * Display
*******************************************************************************/
.-exp {
    padding-bottom: $expander-1;
    padding-top: $expander-1;
    }
.-wrap {
    padding-left: $padding-1 / 2;
    padding-right: $padding-1 / 2;

    @include respond-min( $mobile-width ) {
        padding-left: 2.027027027vw;
        padding-right: 2.027027027vw;
    }
}
.-wrap-p {
    @include wrap-p();
}
.-vtop {
    vertical-align: top;
    }
.-vbot {
    vertical-align: bottom;
    }
.-full {
    width: 100%;
    }
.-tall {
    height: 100%;
    }
.-block {
    display: block;
    }
.-pad {
    padding-top: $header-height;

    @include respond( $navi-break ) {
        padding-top: $header-height-mobile;
    }
}
.-pad-mast {
    padding-top: 21vw;

    @include respond-min( $bind-width ) {
        padding-top: 310px
    }
}



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }
.-dark {
    color: $black;
    }
.-light {
    color: $white;
    }
.-spot {
    color: $spot;
    }
.-grey {
    color: $grey2;
    }
.-fzero {
    font-size: 0;
    }
