<%
/* Slices iterator
locals { item, slices, scope }
*/
const config = locals.context.get( 'config' );
const isSpacer = (scope !== config.homepage);
%>
<section class="slices <%= scope %>__slices">
    <% locals.slices.forEach(( slice, i ) => { %>
        <%
        const sliceType = slice.slice_type.replace( /_+/g, '-' );
        const slicePartial = `../slices/${sliceType}.html`;
        %>
        <div class="slice slice--<%= sliceType %> js-slice" data-index="<%= i %>" data-prop="<%= slice.slice_type %>">
            <%- include( slicePartial, {item, slice, scope} ) %>
        </div>
        <% if ( isSpacer && i !== (locals.slices.length - 1) ) { %>
            <div class="spacer spacer--<%= item.type %> spacer--<%= item.uid %>"></div>
        <% } %>
    <% }) %>
</section>
