<%
/* Slider
locals { items, options }
options.spawn: home, careers, story( edge, paddy )
*/
const dom = locals.context.get( 'dom' );
const config = locals.context.get( 'config' );
%>
<div class="slider slider--<%= locals.options.spawn %> js-slider" data-spawn="<%= locals.options.spawn %>">
    <% if ( locals.options.spawn === config.homepage ) { %>
        <div class="slider__splash js-slider-splash" data-label="<%= locals.options.label %>">
            <% locals.items.forEach(( item, i ) => { %>
                <div class="slider__splash__item js-slider-splash-item cms -wrap" data-index="<%= i %>">
                    <%- dom.RichText.asHtml( item.data.title ).replace( /h1/g, 'h4' ) %>
                    <p><%= item.data.excerpt %></p>
                    <%- include( '../slices/link.html', {
                        json: {
                            title: dom.RichText.asText( item.data.title ),
                            story: true,
                            tag: item.tags[ 0 ]
                        },
                        slice: {
                            primary: {
                                document_link: item,
                                external_link: {},
                                text: item.cta,
                                icon: 'Article'
                            }
                        }
                    }) %>
                </div>
            <% })%>
        </div>
    <% } %>
    <div class="slider__pane">
        <div class="slider__belt js-slider-belt">
            <% locals.items.forEach(( item, i ) => { %>
                <div class="slider__item js-slider-item" data-index="<%= i %>">
                    <%- include( './image.html', {image: item.data.image} ) %>
                    <% if ( item.data.title && locals.options.spawn === 'work' ) { %>
                        <div class="slider__title cms">
                            <%- dom.RichText.asHtml( item.data.title ) %>
                        </div>
                    <% } %>
                    <% if ( item.data.caption ) { %>
                        <div class="slider__cap">
                            <div class="p pc"><%= item.data.caption %></div>
                        </div>
                    <% } %>
                </div>
            <% })%>
        </div>
    </div>
    <div class="slider__navi js-slider-navi">
        <div class="slider__navi__prev js-slider-prev">
            <%- include( './svg/icon-prev.svg' ) %>
        </div>
        <% locals.items.forEach(( item, i ) => { %>
            <div class="slider__navi__curr js-slider-curr" data-index="<%= i %>"></div>
        <% })%>
        <div class="slider__navi__next js-slider-next">
            <%- include( './svg/icon-prev.svg' ) %>
        </div>
    </div>
</div>
