<%
/* Video
locals media { vimeo?, video? }
Vimeo: string vimeo url
Video: prismic media object
Poster: prismic image object
*/
%>
<div class="video js-video" data-json="<%= JSON.stringify( media ) %>">
    <div class="video__wrap js-video-wrap">
        <video class="video__node js-video-node"></video>
        <% if ( media.poster ) { %>
            <div class="video__poster">
                <%- include( './image.html', {image: media.poster} ) %>
            </div>
        <% } %>
        <div class="video__playbutton">
            <%- include( './svg/play-button.svg' ) %>
        </div>
    </div>
    <div class="video__ui js-video-ui">
        <div class="video__ui__pp js-video-pp">
            <%- include( './svg/icon-pause.svg' ) %>
            <%- include( './svg/icon-play.svg' ) %>
        </div>
        <div class="video__ui__timeline">
            <div class="video__ui__ellapsed js-video-ellapsed">
                <div class="video__ui__scrubber"></div>
            </div>
        </div>
        <div class="video__ui__sound js-video-sound">
            <%- include( './svg/icon-sound.svg' ) %>
        </div>
        <div class="video__ui__fs js-video-fs">
            <%- include( './svg/icon-fs.svg' ) %>
        </div>
    </div>
</div>
