<div class="bigpink js-bigpink is-paged is-hidden -pad">
    <div class="bigpink__title main__header main__header--image">
        <div class="main__header__title cms -wrap">
            <h1 class="js-bigpink-title">Big Pink Title</h1>
        </div>
    </div>
    <div class="bigpink__title main__header main__header--image main__header--story">
        <div class="main__header__cat cms -wrap">
            <h6 class="js-bigpink-category">Big Pink Category</h6>
        </div>
        <div class="main__header__title cms -wrap">
            <h2 class="js-bigpink-title">Big Pink Title</h2>
        </div>
    </div>
</div>
