<%
const items = locals.context.get( 'items' );
const config = locals.context.get( 'config' );
%>
<div class="authorizations -pad">
    <div class="main__header main__header--story is-animated">
        <div class="main__header__tag cms -wrap">
            <h6>Clutch</h6>
        </div>
        <div class="main__header__title cms -wrap">
            <h2>Authorizations</h2>
        </div>
        <div class="main__header__desc cms -wrap">
            <% items.forEach(( item ) => { %>
                <h5>
                    <a href="/authorizations/<%= item.app %>/?token=<%= config.authorizations.token %>" class="js-router--ignore -spot"><%= item.app %></a> / authorized: <%- item.authorized %>
                </h5>
            <% }) %>
        </div>
    </div>
</div>
<div class="spacer"></div>
