<%
/* Taxonomy ( tag, category ) */
const taxonomy = locals.context.get( 'taxonomy' );
const contentType = locals.context.get( 'contentType' );
%>
<div class="taxonomy -pad">
    <div class="main__header -pad">
        <div class="main__header__title cms -wrap">
            <h2><%= taxonomy %></h2>
        </div>
        <div class="main__header__desc cms -wrap"></div>
    </div>
</div>
<div class="feed js-feed view js-view -wrap -exp -pad" data-uid="feed" data-url="/api/<%= contentType %>/" data-page="/taxonomy/"></div>
