/******************************************************************************
 * Document
*******************************************************************************/
html {
    background-color: $white;
    color: $black;
}
body {
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -webkit-touch-callout: none;
    @include font-family-meta-regular();
}
pre {
    font-family: monospace;
    font-size: $p-size;
    margin-top: $padding-1;
    overflow-x: auto;
    outline: 1px solid $spot;
    padding: $padding-1;
}



/******************************************************************************
 * User Agent
*******************************************************************************/
// ::-webkit-scrollbar {
//     display: none;
//     }
