/******************************************************************************
 * Font Declarations
 *
 * Use `$font-path` which is determined in `webpack.config.js`
*******************************************************************************/
@font-face {
    font-family: $font-family-main-regular;
    src: url( "#{$font-path}#{$font-family-main-regular}.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-family-main-semibold;
    src: url( "#{$font-path}#{$font-family-main-semibold}.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-family-meta-regular;
    src: url( "#{$font-path}#{$font-family-meta-regular}.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-family-meta-medium;
    src: url( "#{$font-path}#{$font-family-meta-medium}.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
