/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p {
    @include p();

    strong {
        @include font-family-meta-medium();
    }
}
.cms p {
    a {
        color: $spot;
        border-bottom: 1px solid $spot;
    }
}
.pc {
    font-size: $p-size;
    color: $grey;

    .is-theme-black & {
        color: $white;
    }
}
.li,
.cms li {
    @include li();
}
.ol .li,
.cms ol li {
    @include ol-li();
}
.ul .li,
.cms ul li {
    @include ul-li();
}
.ac {
    position: relative;

    &:after {
        content: "";
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -5px;
        background-color: $spot;
        display: none;
        right: 3px;
    }

    &.is-active {
        color: $spot;

        &:after {
            display: block;
        }
    }
}



/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.cms h1 {
    @include h1();
}
.h2,
.cms h2 {
    @include h2();
}
.h3,
.cms h3 {
    @include h3();
}
.h4,
.cms h4 {
    @include h4();
}
.h5,
.cms h5 {
    @include h5();
}
.h6,
.cms h6 {
    @include h6();
}



/******************************************************************************
 * Buttons
*******************************************************************************/
.btn {
    @include h6();
    @include btn();
    line-height: 1;
    color: $spot;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px 0;
    transition: color 600ms $ease;

    .is-hoverable &:hover {
        color: $white;
    }
    .is-hoverable &:hover .btn__anim {
        transform: scaleX( 1.3 );
    }
    .is-hoverable &:hover .btn__anim:after {
        transform: scaleY( 23 );
    }
}
.btn__text {
    position: relative;
    z-index: 2;
}
.btn__anim {
    height: 1px;
    background-color: $spot;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: bottom center;
    transition: transform $base-duration $ease-before,
                background-color $base-duration $ease-before;
    z-index: 1;

    &:after {
        content: "";
        height: 1px;
        background-color: $spot;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        transform-origin: bottom center;
        transition: transform 700ms $ease-after,
                    background-color 700ms $ease-after;
    }
}


/******************************************************************************
 * Links
*******************************************************************************/
.link {
    @include h6();
    @include btn();
    line-height: 1;
    color: $spot;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px 0;

    .is-hoverable &:hover .svg--arrow {
        @include arrow-hover();
    }

    .svg--arrow {
        .is-hoverable .hover-link:hover & {
            @include arrow-hover();
        }
    }
}
.link__wrap {
    @include flex-center();
}
.link__icon {
    padding-left: 5px;

    &.icon--play {
        padding-left: 25px;
    }
    &.icon--article {
        padding-left: 25px;
    }
}



/******************************************************************************
 * Forms
*******************************************************************************/
.form {
    &.is-success {
        .form__group {
            display: none;
        }
        .form__message {
            display: block;
        }
    }

    .form__input + .form__sub {
        .is-hoverable &:hover {
            color: $black;
        }
        .is-hoverable.is-theme-black &:hover {
            color: $white;
        }
    }
}
.form__message {
    display: none;
}
.form__input {
    @include p();
    color: $grey2;
    -webkit-appearance: none;
    outline: 0;
    background-color: transparent;
    border: 1px solid $black;
    border-radius: 0;
    height: 40px;
    width: 100%;
    padding: 0 13px;
    transition: color $base-duration $ease-before,
                border-color $base-duration $ease-before;

    &:focus {
        color: $black;
        border-color: $spot;
    }

    .screen--white &:focus {
        color: $black;
        border-color: $spot;
    }

    .is-theme-black & {
        color: $white;
        border-color: $white;
    }

    .screen--white & {
        color: $black;
        border-color: $black;
    }

    &::-webkit-input-placeholder {
        color: $grey2;

        .is-theme-black & {
            color: $grey3;
        }
    }
}
.form__group + .form__group {
    margin-top: 24px;
}
.form__field {
    position: relative;
    display: inline-block;
    width: $form-input-width;
    max-width: 100%;

    .formover & {
        width: 100%;
    }
}
.form__sub {
    -webkit-appearance: none;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.form__input + .form__sub {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d( -13px, -50%, 0 );

    @include respond( $mobile-width ) {
        transform: translate3d( -13px, calc( -50% - 2px ), 0 );
    }
}
.form__area {
    height: 170px;
    padding-top: 8px;
}
.form__button {
    text-align: right;
    z-index: 1;

    .form__sub {
        margin-right: 7px;
    }
}



@mixin form-field() {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 13px;
}
.form__select {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    @include p();
}
.form__show {
    @include form-field();
    position: relative;
    background-color: transparent;
    border: 1px solid $black;

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $black;
        transform: translate3d( -20px, -50%, 0 );
        position: absolute;
        top: 50%;
        right: 0;
    }
}
.form__menu {
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    background-color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d( 0, 40px, 0 );
    pointer-events: none;
    opacity: 0;
    transition: opacity $fast-duration $ease;

    &.is-active {
        opacity: 1;
        pointer-events: auto;
    }
}
.form__option {
    @include form-field();
    color: $black;
    padding: 0 26px;
    transition: color $fast-duration $ease;

    &.is-active {
        color: $spot;

        &:before {
            border-color: $spot;
            background-color: $spot;
        }
    }

    &:before {
        margin-right: 20px;
        content: "";
        height: 9px;
        width: 9px;
        border-radius: 9px;
        border: 1px solid $black;
        transition: border-color $fast-duration $ease,
                    background-color $fast-duration $ease;
    }
}
