/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p {
    @include p();

    strong {
        @include font-family-meta-medium();
    }
}
.cms p {
    @include wrap-p();
}
.li,
.cms li {
    @include li();
}
.ol .li,
.cms ol li {
    @include ol-li();
}
.ul .li,
.cms ul li {
    @include ul-li();
}



/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.cms h1 {
    @include h1();
}
.h2,
.cms h2 {
    @include h2();
}
.h3,
.cms h3 {
    @include h3();
}
.h4,
.cms h4 {
    @include h4();
}
.h5,
.cms h5 {
    @include h5();
}
.h6,
.cms h6 {
    @include h6();
}



/******************************************************************************
 * Buttons
*******************************************************************************/
.btn {
    @include h6();
    @include btn();
    line-height: 1;
    color: $spot;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px 0;
    transition: color 600ms $ease;

    .is-hoverable &:hover {
        color: $white;
    }
    .is-hoverable &:hover .btn__anim {
        transform: scaleX( 1.3 );
    }
    .is-hoverable &:hover .btn__anim:after {
        transform: scaleY( 23 );
    }

    .is-theme-spot & {
        color: $white;
    }
    .is-hoverable.is-theme-spot &:hover {
        color: $spot;
    }
}
.btn__text {
    position: relative;
    z-index: 2;
}
.btn__anim {
    height: 1px;
    background-color: $spot;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: bottom center;
    transition: transform $base-duration $ease-before,
                background-color $base-duration $ease-before;
    z-index: 1;

    &:after {
        content: "";
        height: 1px;
        background-color: $spot;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        transform-origin: bottom center;
        transition: transform 700ms $ease-after,
                    background-color 700ms $ease-after;
    }

    .is-theme-spot &,
    .is-theme-spot &:after {
        background-color: $white;
    }
}


/******************************************************************************
 * Links
*******************************************************************************/
.link {
    @include h6();
    @include btn();
    line-height: 1;
    color: $spot;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px 0;

    .svg--arrow {
        transition: width $fast-duration $ease;

        rect {
            transition: width $fast-duration $ease;
        }
        polygon {
            transition: transform $fast-duration $ease;
        }
    }

    .is-hoverable &:hover .svg--arrow {
        width: 38px;

        rect {
            width: 35px;
        }
        polygon {
            transform: translate3d( 11px, 0, 0 );
        }
    }

    .is-theme-spot & {
        color: $white;
    }
}
.link__wrap {
    @include flex-center();
}
.link__text {
    padding-right: 5px;
}



/******************************************************************************
 * Forms
*******************************************************************************/
.form {}
.form__input {
    @include p();
    color: $grey2;
    -webkit-appearance: none;
    outline: 0;
    background-color: transparent;
    border: 1px solid $black;
    border-radius: 0;
    height: 40px;
    width: 100%;
    padding: 0 13px;
    transition: color $base-duration $ease-before,
                border-color $base-duration $ease-before;

    &:focus {
        color: $black;
    }

    .is-theme-black & {
        color: $grey3;
        border-color: $white;
    }

    .is-theme-spot & {
        color: $white;
        border-color: $white;
    }

    &::-webkit-input-placeholder {
        color: $grey2;

        .is-theme-black & {
            color: $grey3;
        }

        .is-theme-spot & {
            color: $white;
        }
    }
}
.form__block + .form__block {
    margin-top: 24px;
}
.form__field {
    position: relative;
    display: inline-block;
    width: 480px;
    max-width: 100%;
}
.form__sub {
    -webkit-appearance: none;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;

    .is-hoverable &:hover {
        color: $spot;
    }

    .is-theme-spot &,
    .is-hoverable.is-theme-spot &:hover {
        color: $white;
    }
}
.form__input + .form__sub {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d( -13px, -50%, 0 );
}
.form__area {
    height: 170px;
    padding-top: 8px;
}
.form__button {
    text-align: right;
}
