<%
/* About Services
locals { item, slice, scope }
*/
const dom = locals.context.get( 'dom' );
%>
<div class="services -wrap">
    <div class="services__info cms">
        <div class="services__label">
            <h6><%= locals.slice.primary.label %></h6>
        </div>
        <div class="services__desc">
            <h5><%= locals.slice.primary.text %></h5>
        </div>
    </div>
    <div class="services__grid cms">
        <% slice.items.forEach(( sliceItem ) => { %>
                <div class="services__item">
                    <h5><%= sliceItem.service_name %></h5>
                    <p><%= sliceItem.service_description %></p>
                </div>
        <% }) %>
    </div>
</div>
