<%
/* CTAs
locals { item, slice, scope }
*/
const config = locals.context.get( 'config' );
const dom = locals.context.get( 'dom' );
const isMulti = locals.slice.items.length > 1;
const isSingle = !isMulti;
const mod = isMulti ? 'ctas--multi' : 'ctas--oneup';
const firstCTA = locals.slice.items[ 0 ].cta;
const firstIcon = firstCTA.data.hubspot_form ? firstCTA.data.hubspot_form.toLowerCase() : firstCTA.data.page_link ? firstCTA.data.page_link.value.document.uid : '';
const isNewsletter = firstIcon === 'newsletter';
const isBorder = isNewsletter || isMulti;
const isWrap = isNewsletter || isMulti;
const isPad = isNewsletter || isMulti;
%>
<div class="ctas <%= mod %> <% if ( isWrap ) { %>-wrap<% } %>">
    <div class="ctas__wrap <% if ( isBorder ) { %>ctas__wrap--bored<% } %> <% if ( isPad ) { %>ctas__wrap--pad<% } %>">
        <% locals.slice.items.forEach(( sliceItem ) => { %>
            <%
            const cta = sliceItem.cta;
            const icon = cta.data.hubspot_form ? cta.data.hubspot_form.toLowerCase() : cta.data.page_link ? cta.data.page_link.value.document.uid : '';
            const isHubspot = cta.data.hubspot_form;
            const docLink = cta.data.page_link ? cta.data.page_link.value.document : {};
            const extLink = isHubspot ? {url: `#js-formover-${icon}`} : {};
            const json = cta.data.page_link ? { title: dom.RichText.asText( cta.data.title ) } : { target: `js-formover-${icon}` };
            %>
            <div class="cta cta--<%= icon %>">
                <% if ( isSingle && isNewsletter ) { %>
                    <div class="cta__l cms">
                        <div class="cta__title">
                            <%- dom.RichText.asHtml( cta.data.title ) %>
                        </div>
                        <div class="cta__desc">
                            <p><%= cta.data.description %></p>
                        </div>
                    </div>
                    <div class="cta__r">
                        <%- include( './form.html', {
                            slice: {
                                primary: {
                                    submit_action: 'Newsletter'
                                }
                            }
                        }) %>
                    </div>
                <% } else if ( isSingle ) { %>
                    <div class="cta__l">
                        <%- include( `../partials/image.html`, {image: cta.data.image} ) %>
                    </div>
                    <div class="cta__r cms">
                        <div class="cta__title">
                            <%- dom.RichText.asHtml( cta.data.title ).replace( /h5/g, 'h3' ) %>
                        </div>
                        <div class="cta__desc">
                            <p><%= cta.data.description %></p>
                        </div>
                        <div class="cta__link">
                            <%- include( './link.html', {
                                json,
                                slice: {
                                    primary: {
                                        document_link: docLink,
                                        external_link: extLink,
                                        text: sliceItem.cta_text_link || cta.data.link_text,
                                        icon: 'Arrow'
                                    }
                                },
                                class: `js-formover-trigger`
                            }) %>
                        </div>
                    </div>
                <% } else { %>
                    <div class="cta__tout cms">
                        <div class="cta__icon">
                            <%- include( `../partials/svg/icon-${icon}.svg` ) %>
                        </div>
                        <div class="cta__title">
                            <%- dom.RichText.asHtml( cta.data.title ) %>
                        </div>
                        <div class="cta__desc">
                            <p><%= cta.data.description %></p>
                        </div>
                        <div class="cta__link">
                            <%- include( './link.html', {
                                json,
                                slice: {
                                    primary: {
                                        document_link: docLink,
                                        external_link: extLink,
                                        text: sliceItem.cta_text_link || cta.data.link_text,
                                        icon: 'Arrow'
                                    }
                                },
                                class: `js-formover-trigger`
                            }) %>
                        </div>
                    </div>
                <% } %>
            </div>
        <% }) %>
    </div>
    <% if ( isMulti || (isSingle && !isNewsletter) ) { %>
        <div class="screen screen--white formover js-formover">
            <div class="formover__body">
                <div class="formover__navis -wrap">
                    <% locals.slice.items.forEach(( sliceItem ) => { %>
                        <%
                        const cta = sliceItem.cta;
                        const icon = cta.data.hubspot_form ? cta.data.hubspot_form.toLowerCase() : cta.data.page_link ? cta.data.page_link.value.document.uid : '';
                        const json = { target: `js-formover-${icon}` };
                        %>
                        <% if ( cta.data.hubspot_form ) { %>
                            <div class="formover__navi js-formover-navi js-formover-<%= icon %> h6" data-json="<%= JSON.stringify( json ) %>">
                                <%- dom.RichText.asText( cta.data.title ) %>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
                <div class="formover__ex js-formover-ex">
                    <%- include( '../partials/svg/icon-ex.svg' ) %>
                </div>
                <% locals.slice.items.forEach(( sliceItem ) => { %>
                    <%
                    const cta = sliceItem.cta;
                    const icon = cta.data.hubspot_form ? cta.data.hubspot_form.toLowerCase() : cta.data.page_link ? cta.data.page_link.value.document.uid : '';
                    %>
                    <% if ( cta.data.hubspot_form ) { %>
                        <div class="formover__panel -wrap js-formover-panel js-formover-<%= icon %>">
                            <div class="formover__info cms">
                                <div class="formover__label">
                                    <h6><%= cta.data.label %></h6>
                                </div>
                                <div class="formover__title">
                                    <%- dom.RichText.asHtml( cta.data.title ).replace( /h5/g, 'h2' ) %>
                                </div>
                                <div class="formover__desc">
                                    <p><%= cta.data.description %></p>
                                </div>
                            </div>
                            <div class="formover__form">
                                <%- include( './form.html', {
                                    slice: {
                                        primary: {
                                            submit_action: cta.data.hubspot_form
                                        }
                                    }
                                }) %>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    <% } %>
</div>
