<%
/* Employee Testimonial
locals { item, slice, scope }
*/
%>
<% locals.slice.items.forEach(( sliceItem ) => { %>
<div class="cms employee-testimonial <% if( sliceItem.alignment == 'right' ) { %>employee-testimonial--right<% } %>">
  <div class="employee-testimonial__photo">
    <%- include( '../partials/image.html', {image: sliceItem.photo} ) %>
  </div>
  <div class="employee-testimonial__text">
    <h5 class="employee-testimonial__text__quote">
      <%- sliceItem.quote %>
    </h5>
    <p class="employee-testimonial__text__name">
      <%- sliceItem.name_and_title %>
    </p>
  </div>
</div>
<% }) %>