<%
/* Filter feed
locals { item, slice, scope }
*/
const contentType = locals.slice.primary.content.toLowerCase();
const contentTag = locals.item.tags.length ? locals.item.tags[ 0 ] : null;
const isCategoryPage = (locals.item.type === 'page') && (contentTag !== null);
%>
<div class="feed js-feed view js-view -wrap" data-uid="feed" data-url="/api/<%= contentType %>/" data-page="/<%= locals.item.uid %>/" <% if ( contentTag ) { %>data-tag="<%= contentTag %>"<% } %> data-viz="<%= isCategoryPage ? 0 : 1 %>"></div>
