<%
/* Home Stories
locals { item, slice, scope }
primary { stories_description, stories_cta, stories_page_link }
*/
const dom = locals.context.get( 'dom' );
const config = locals.context.get( 'config' );
const itemsMapped = slice.items.map(( item ) => {
    const doc = item.story;
    doc.cta = item.story_cta;
    return doc;
});
%>
<div class="home__stories-desc cms -wrap">
    <%- dom.RichText.asHtml( slice.primary.stories_description ) %>
    <%- include( './link.html', {
        json: {
            title: dom.RichText.asText( slice.primary.stories_page_link.data.title )
        },
        slice: {
            primary: {
                document_link: slice.primary.stories_page_link,
                external_link: {},
                text: slice.primary.stories_cta,
                icon: 'Arrow'
            }
        }
    }) %>
</div>
<div class="home__stories-slider">
    <%- include( '../partials/slider.html', {items: itemsMapped, options: {spawn: config.homepage, label: dom.RichText.asText( slice.primary.stories_page_link.data.title )} } ) %>
</div>
