<%
/* Home About
locals { item, slice, scope }
primary { about_label, about_description, about_cta, about_page_link, about_image }
*/
const dom = locals.context.get( 'dom' );
%>
<div class="home__about-mark js-home-about-mark">
    <%- include( '../partials/svg/teague-mark-fluid.svg', {style: 'lite'} ) %>
</div>
<div class="home__about-image js-home-about-image">
    <%- include( '../partials/image.html', {image: slice.primary.about_image, options: {bg: true}} ) %>
    <%- include( '../partials/image.html', {image: slice.primary.about_image, options: {bg: true}} ) %>
</div>
<div class="home__about-desc js-home-about-desc cms">
    <div class="home__about-label">
        <h6><%= slice.primary.about_label %></h6>
    </div>
    <%- dom.RichText.asHtml( slice.primary.about_description ) %>
    <div class="home__about-cta">
        <%- dom.RichText.asHtml( slice.primary.about_cta ) %>
        <%- include( './link.html', {
            slice: {
                primary: {
                    document_link: slice.primary.about_page_link,
                    external_link: {},
                    text: dom.RichText.asText( slice.primary.about_page_link.data.title ),
                    icon: 'Arrow'
                }
            }
        }) %>
    </div>
</div>
