<%
/* Home Reel
locals { item, slice, scope }
primary { reel_vimeo_url, reel_cta, reel_description }
*/
const dom = locals.context.get( 'dom' );
const media = {};

if ( slice.primary.reel_vimeo_url ) {
    media.vimeo = slice.primary.reel_vimeo_url;

} else if ( slice.primary.reel_video_file ) {
    media.video = slice.primary.reel_video_file;
}
%>
<div class="home__reel-video js-home-reel-video">
    <%- include( '../partials/video-fs.html', {media} ) %>
    <div class="media-overlay"></div>
</div>
<div class="home__reel-mark js-home-reel-mark">
    <%- include( '../partials/svg/teague-mark-fluid.svg' ) %>
</div>
<div class="home__reel-desc js-home-reel-desc cms -wrap">
    <%- dom.RichText.asHtml( slice.primary.reel_description ) %>
</div>
<div class="home__reel-cta js-home-reel-cta cms -wrap">
    <%- include( './link.html', {
        slice: {
            primary: {
                document_link: {},
                external_link: {
                    url: '#'
                },
                text: slice.primary.reel_cta,
                icon: 'Play'
            }
        }
    }) %>
</div>
<div class="home__reel-ex js-home-reel-ex">
    <%- include( '../partials/svg/icon-ex.svg' ) %>
</div>
