<%
/* Home About
locals { item, slice, scope }
primary { about_label, about_description, about_cta, about_page_link, about_image }
*/
const dom = locals.context.get( 'dom' );
%>
<div class="home__about-mark js-home-about-mark">
    <svg class="svg svg--mark-fluid svg--lite" x="0px" y="0px" viewBox="0 0 1416 835" style="enable-background:new 0 0 1416 835;">
        <clipPath id="markclip">
            <!-- <rect x="0" y="0" width="432.9" height="134.8" /> -->
            <!-- <rect x="0" y="232.5" width="265.1" height="134.8" /> -->
            <rect x="0" y="466.4" width="708" height="134.8" />
            <rect x="0" y="700.2" width="433.4" height="134.8" />
        </clipPath>
        <image y="12vw" class="home__about-image" xlink:href="<%= slice.primary.about_image.url %>" clip-path="url(#markclip)" />
    </svg>
</div>
<div class="home__about-desc js-home-about-desc cms">
    <%- dom.RichText.asHtml( slice.primary.about_description ) %>
</div>
