<%
/* Home Discover
locals { item, slice, scope }
primary { discover_label, discover_description, discover_cta, discover_page_link, discover_image }
*/
const dom = locals.context.get( 'dom' );
%>
<div class="home__discover-mark js-home-discover-mark">
    <svg class="svg svg--mark-fluid svg--lite" x="0px" y="0px" viewBox="0 0 1416 835" style="enable-background:new 0 0 1416 835;">
        <clipPath id="discoverClip">
            <rect x="275.1" y="700.2" width="1202" height="134.8" />
        </clipPath>
        <image y="12vw" class="home__discover-image" xlink:href="<%= slice.primary.discover_image.url %>" clip-path="url(#discoverClip)" />
    </svg>
</div>
<div class="home__discover-desc js-home-discover-desc cms -wrap">
    <div class="home__discover-label">
        <h6><%= slice.primary.discover_label %></h6>
    </div>
    <%- dom.RichText.asHtml( slice.primary.discover_description ) %>
    <div class="home__discover-cta">
        <%- dom.RichText.asHtml( slice.primary.discover_cta ) %>
        <%- include( './link.html', {
            slice: {
                primary: {
                    document_link: slice.primary.discover_page_link,
                    external_link: {},
                    text: dom.RichText.asText( slice.primary.discover_page_link.data.title ),
                    icon: 'Arrow'
                }
            }
        }) %>
    </div>
</div>
