<%
/* Link
locals { item, slice, scope }
*/
const config = locals.context.get( 'config' );
const doc = locals.slice.primary.document_link;
const ext = locals.slice.primary.external_link;
const href = doc.id ? locals.context.getUrl( doc ) : ext.url;
const targ = ext ? ext.target : '';
const icon = locals.slice.primary.icon.toLowerCase();
%>
<a class="link <% if ( locals.class ) { %><%= locals.class %><% } %>" href="<%= href %>" target="<%= targ %>" <% if ( locals.json ) { %>data-json="<%= JSON.stringify( locals.json ) %>"<% } %>>
    <div class="link__wrap">
        <div class="link__text"><%= locals.slice.primary.text %></div>
        <div class="link__icon icon icon--<%= icon %>">
            <%- include( `../partials/svg/icon-${icon}.svg`, {style: 'spot'} ) %>
        </div>
    </div>
</a>
