<%
/* Location
locals { item, slice, scope }
*/
const dom = locals.context.get( 'dom' );
%>
<div class="location">
    <div class="location__l">
        <div class="location__addy cms">
            <%- dom.RichText.asHtml( slice.primary.text ) %>
        </div>
        <div class="location__map">
            <div class="map dark js-mapbox" data-latlng="[<%= slice.primary.geo.latitude %>,<%= slice.primary.geo.longitude %>]">
                <a class="map__marker js-mapbox-marker" href="<%= slice.primary.google_maps_url %>" target="_blank">
                    <%- include( '../partials/svg/map-marker.svg' ) %>
                </a>
            </div>
        </div>
    </div>
    <div class="location__r">
        <a class="location__image" href="<%= slice.primary.google_maps_url %>" target="_blank">
            <%- include( '../partials/image.html', {image: slice.primary.studio_image} ) %>
        </a>
    </div>
</div>
