<%
/* Page Header
locals { item, slice, scope }
*/
const config = locals.context.get( 'config' );
const isImage = locals.slice.primary.header_image.url;
const isStory = (locals.item.type === 'story');
const isPage = (locals.item.type === 'page');
const isCategoryPage = isPage && (locals.item.tags.length !== 0);
%>
<div class="main__header <% if ( isImage ) { %>main__header--image<% } %> <% if ( isStory || isCategoryPage ) { %>main__header--story<% } %>">
    <% if ( isStory || isCategoryPage ) { %>
        <div class="main__header__tag cms -wrap">
            <h6><%- isCategoryPage ? '&nbsp;' : locals.item.tags[ 0 ] %></h6>
        </div>
    <% } %>
    <div class="main__header__title cms -wrap">
        <%- locals.context.get( 'dom' ).RichText.asHtml( locals.slice.primary.header_title ) %>
    </div>
    <% if ( isImage ) { %>
        <div class="main__header__image">
            <%- include( '../partials/image.html', {image: locals.slice.primary.header_image} ) %>
        </div>
    <% } %>
    <% if ( isStory || isPage ) { %>
        <div class="main__header__deets cms -wrap">
            <div class="main__header__deets__l">
                <div class="main__header__desc">
                    <%- locals.context.get( 'dom' ).RichText.asHtml( locals.slice.primary.header_description ) %>
                </div>
            </div>
            <% if ( !isPage ) { %>
                <div class="main__header__deets__r main__header__authors">
                    <h6>Project Authors</h6>
                    <% locals.item.data.authors.forEach(( author ) => { %>
                        <% if ( author.author.data ) { %>
                            <div class="main__header__auth p"><%= author.author.data.name %></div>
                        <% } %>
                    <% }) %>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <div class="main__header__desc cms -wrap">
            <%- locals.context.get( 'dom' ).RichText.asHtml( locals.slice.primary.header_description ) %>
        </div>
    <% } %>
</div>
