<%
/* Page Header
locals { item, slice, scope }
*/
const dom = locals.context.get( 'dom' );
const config = locals.context.get( 'config' );
const isImage = locals.slice.primary.header_image.url;
const isStory = (locals.item.type === 'story');
const isCasestudy = (locals.item.type === 'casestudy');
const isPage = (locals.item.type === 'page');
const isIndustryPage = isPage && (locals.item.tags.length !== 0);
const isDescText = dom.RichText.asText( locals.slice.primary.header_description ) !== "";
%>  
    <div class="main__header__ancestor"></div>
    <div class="main__header__title <% if ( isImage ) { %>main__header__title--has-image<% } %> cms -wrap">
        <% if ( isStory || isCasestudy ) { %>
            <div class="main__header__tag">
                <h6><%- locals.item.tags[ 0 ] %></h6>
            </div>
        <% } %>
        <%- dom.RichText.asHtml( locals.slice.primary.header_title ) %>
    </div>
    <% if ( isImage ) { %>
        <div class="main__header__sentinal js-main-header-sentinal">
        </div>
        <div class="main__header__image">
            <%- include( '../partials/image.html', {image: locals.slice.primary.header_image} ) %>
        </div>
    <% } %>
    <% if ( (isStory || isCasestudy || isPage) && isDescText ) { %>
        <div class="main__header__deets cms -wrap">
            <div class="main__header__deets__l">
                <div class="main__header__desc">
                    <%- dom.RichText.asHtml( locals.slice.primary.header_description ) %>
                </div>
            </div>
            <% if ( !isPage && !isCasestudy && locals.item.data.authors.length ) { %>
                <div class="main__header__deets__r main__header__authors">
                    <h6>Project Authors</h6>
                    <% locals.item.data.authors.forEach(( author ) => { %>
                        <% if ( author.author.data ) { %>
                            <div class="main__header__auth p"><%= author.author.data.name %></div>
                        <% } %>
                    <% }) %>
                </div>
            <% } %>
        </div>
    <% } else if ( isDescText ) { %>
        <div class="main__header__desc cms -wrap">
            <%- dom.RichText.asHtml( locals.slice.primary.header_description ) %>
        </div>
    <% } else { %>
        <div class="main__header__desc-shim"></div>
    <% } %>
