<%
/* Promo
locals { item, slice, scope }
*/
const dom = locals.context.get( 'dom' );
const doc = slice.primary.story.id ? slice.primary.story : slice.primary.page.id ? slice.primary.page : null;
const isRelated = slice.primary.layout === 'Related';
const isPromoLargeA = slice.primary.layout === 'Promo Large A';
const isPromoLargeB = slice.primary.layout === 'Promo Large B';
const isPromoXL = slice.primary.layout === 'Promo XL';
const isPage = slice.primary.page.id;
const isIndustryPage = isPage && doc.tags.lenth !== 0;
const isStory = slice.primary.story.id;
const isBroken = !doc.id || doc.isBroken;
let json = null;
%>
<% if ( isRelated && !isBroken ) { %>
    <div class="ctas ctas--oneup -wrap">
        <div class="ctas__wrap ctas__wrap--bored ctas__wrap--pad">
            <div class="cta cta--story">
                <div class="cta__l">
                    <%- include( `../partials/image.html`, {image: doc.data.image} ) %>
                </div>
                <div class="cta__r cms">
                    <div class="cta__title">
                        <h4><%= doc.data.excerpt %></h4>
                    </div>
                    <div class="cta__link">
                        <%- include( './link.html', {
                            json: {
                                title: dom.RichText.asText( doc.data.title ),
                                story: true,
                                tag: doc.tags[ 0 ]
                            },
                            slice: {
                                primary: {
                                    document_link: doc,
                                    external_link: {},
                                    text: slice.primary.cta_link_text,
                                    icon: 'Arrow'
                                }
                            }
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% } else if ( (isPromoLargeA || isPromoLargeB) && !isBroken ) { %>
    <%
    json = {
        title: dom.RichText.asText( doc.data.title ),
        story: isStory,
        tag: doc.tags[ 0 ]
    };
    %>
    <div class="promo promo--large <% if ( isPromoLargeA ) { %>promo--a<% } else { %>promo--b<% } %>">
        <a href="<%= locals.context.getUrl( doc ) %>" class="promo__link" data-json="<%= JSON.stringify( json ) %>">
            <div class="promo__info cms">
                <% if ( !isPage ) { %>
                    <div class="promo__tag">
                        <h6><%= doc.tags[ 0 ] %></h6>
                    </div>
                <% } %>
                <div class="promo__title">
                    <%- dom.RichText.asHtml( doc.data.title ).replace( /h\d/g, 'h2' ) %>
                </div>
            </div>
            <div class="promo__image">
                <%- include( '../partials/image.html', {image: doc.data.image} ) %>
            </div>
        </a>
    </div>

<% } else if ( isPromoXL && !isBroken ) { %>
    <%
    json = {
        title: dom.RichText.asText( doc.data.title ),
        story: isStory || isIndustryPage,
        tag: isIndustryPage ? null : doc.tags[ 0 ]
    };
    %>
    <div class="promo promo--xl">
        <a href="<%= locals.context.getUrl( doc ) %>" class="promo__link" data-json="<%= JSON.stringify( json ) %>">
            <div class="promo__info cms">
                <% if ( !isPage ) { %>
                    <div class="promo__tag">
                        <h6><%= doc.tags[ 0 ] %></h6>
                    </div>
                <% } %>
                <div class="promo__title">
                    <%- dom.RichText.asHtml( doc.data.title ).replace( /h\d/g, 'h2' ) %>
                </div>
                <% if ( isPage ) { %>
                    <div class="promo__desc">
                        <h5><%- dom.RichText.asText( doc.data.description ) %></h5>
                    </div>
                <% } %>
            </div>
            <div class="promo__image">
                <%- include( '../partials/image.html', {image: doc.data.image} ) %>
            </div>
        </a>
    </div>
<% } %>
