<%
/* Work Process
locals { item, slice, scope }
*/
const dom = locals.context.get( 'dom' );
const itemsMapped = slice.items.map(( item ) => {
    return {
        data: {
            image: item.slider_image,
            title: item.slider_title,
            caption: item.slider_caption
        }
    };
});
const json = {
    title: dom.RichText.asText( slice.primary.design_story_link.data.title ),
    story: true,
    category: slice.primary.design_story_link.data.category
};
%>
<div class="process">
    <div class="process__story cms">
        <div class="process__info">
            <div class="process__label">
                <h6><%= slice.primary.label %></h6>
            </div>
            <div class="process__desc">
                <%- dom.RichText.asHtml( slice.primary.cta_text ) %>
            </div>
        </div>
        <a href="<%= locals.context.getUrl( slice.primary.design_story_link ) %>" class="process__article" data-json="<%= JSON.stringify( json ) %>">
            <div class="process__article__img">
                <%- include( '../partials/image.html', {image: slice.primary.design_story_link.data.image} ) %>
            </div>
            <div class="process__article__info cms">
                <h6>Related Design Story</h6>
                <%- dom.RichText.asHtml( slice.primary.design_story_link.data.title ).replace( /h1/g, 'h5' ) %>
            </div>
        </a>
    </div>
    <div class="process__slider">
        <%- include( '../partials/slider.html', {
            items: itemsMapped,
            options: {
                spawn: 'work'
            }
        }) %>
    </div>
</div>
