.atoms {
    .slice {
        @include wrap();

        &.slice--video,
        &.slice--image {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.atoms__theme {
    @include flex-left();
    position: fixed;
    right: 0;
    top: $header-height / 2;
    transform: translate3d( 0, -50%, 0 );

    @include respond( $navi-break ) {
        top: $header-height-mobile / 2;
        display: none;
    }

    .swatch {
        position: relative;
        height: 32px;
        width: 32px;
        cursor: pointer;

        &:after {
            content: "";
            height: 12px;
            width: 12px;
            border-radius: 12px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d( -50%, -50%, 0 );
            transition: opacity $base-duration $ease;
            opacity: 0;
            pointer-events: none;
        }

        &.is-active:after {
            opacity: 1;
        }
    }
    .swatch + .swatch {
        margin-left: 20px;
    }
    .swatch--white {
        background-color: $white;
        outline: 1px solid $black;

        .is-theme-black & {
            outline: none;
        }

        &:after {
            background-color: $black;
        }
    }
    .swatch--black {
        background-color: $black;

        .is-theme-black & {
            outline: 1px solid $white;
        }

        &:after {
            background-color: $white;
        }
    }
}
