.atoms {
    .slice {
        padding-bottom: $expander-1;
        padding-top: $expander-1;
        @include wrap();

        &:first-child {
            padding-top: 0;
        }

        &.slice--video,
        &.slice--image {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .slice--text__node {
        padding-bottom: $expander-1;
        padding-top: $expander-1;
    }
}
.atoms__theme {
    @include flex-left();

    .swatch {
        position: relative;
        height: 128px;
        width: 128px;
        cursor: pointer;

        &:after {
            content: "";
            height: 32px;
            width: 32px;
            border-radius: 32px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d( -50%, -50%, 0 );
            transition: opacity $base-duration $ease;
            opacity: 0;
            pointer-events: none;
        }

        &.is-active:after {
            opacity: 1;
        }
    }
    .swatch + .swatch {
        margin-left: 40px;
    }
    .swatch--white {
        background-color: $white;
        outline: 1px solid $black;

        .is-theme-black & {
            outline: none;
        }

        &:after {
            background-color: $black;
        }
    }
    .swatch--black {
        background-color: $black;

        .is-theme-black & {
            outline: 1px solid $white;
        }

        &:after {
            background-color: $white;
        }
    }
    .swatch--spot {
        background-color: $spot;

        &:after {
            background-color: $white;
        }
    }
}
