.ctas {
    text-align: center;
}
.ctas--oneup {
    .cta--work,
    .cta--media,
    .cta--story {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include respond( $break-tablet-small ) {
            display: block;
        }
    }
    .cta--work,
    .cta--media {
        .cta__l {
            width: 600px;
            overflow: hidden;
            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: 25px;
                background-color: $white;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY( -50% );
                z-index: 1;
            }
            &:after {
                content: "";
                width: 18%;
                height: 50%;
                background-color: $white;
                position: absolute;
                right: 0;
                top: 50%;
                z-index: 1;
            }

            @include respond( $break-tablet-small ) {
                width: 100%;
            }
        }
        .cta__r {
            padding-left: 6.0810810811vw;
            width: calc( 100% - 600px );
            @include wrapr();

            @include respond( $break-tablet-small ) {
                @include wrap();
                padding-top: 50px;
                width: 100%;
            }
        }
    }
    .cta--story {
        align-items: flex-start;

        .cta__l {
            width: 333px;

            @include respond( $break-tablet-small ) {
                width: 100%;
            }
        }
        .cta__r {
            padding-left: 10.135135135vw;
            width: calc( 100% - 333px );
            @include wrapr();

            @include respond( $break-tablet-small ) {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                padding-top: 50px;
            }
        }
    }
}
.ctas--multi {
    .ctas__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond( $break-tablet-small ) {
            display: block;
        }
    }

    .cta {
        width: 33.333333%;

        @include respond( $break-tablet-small ) {
            width: 100%;
        }
    }
    .cta + .cta {
        @include respond( $break-tablet-small ) {
            margin-top: 80px;
        }
    }
    .cta__desc {
        max-width: 23.648648649vw;

        @include respond( $break-tablet-small ) {
            max-width: 100%;
        }
    }
}
.ctas__wrap {
    display: inline-block;
    text-align: left;
    width: 100%;
}
.ctas__wrap--bored {
    border-top: 1px solid $grey4;
    border-bottom: 1px solid $grey4;
}
.cta {}
.cta--newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond( $break-tablet-medium ) {
        display: block;
    }

    .cta__r {
        @include respond( $break-tablet-medium ) {
            padding-top: 40px;
        }
    }
}
.cta__desc {
    margin-top: 20px;
    @include wrap-p();
}
.cta__icon {
    margin-bottom: 20px;
}
.cta__link {
    margin-top: 40px;
}
