.ctas {
    text-align: center;
}
.ctas--multi {
    .ctas__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond( $break-tablet-small ) {
            display: block;
        }
    }

    .cta {
        width: 33.333333%;

        @include respond( $break-tablet-small ) {
            width: 100%;
        }
    }
    .cta + .cta {
        @include respond( $break-tablet-small ) {
            margin-top: $expander-2;
        }
    }
    .cta__desc {
        max-width: 23.648648649vw;

        @include respond( $break-tablet-small ) {
            max-width: 100%;
        }
    }
}
.ctas__wrap {
    border-top: 1px solid $grey4;
    border-bottom: 1px solid $grey4;
    display: inline-block;
    text-align: left;
    width: 100%;
}
.cta {}
.cta--newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond( $break-tablet-medium ) {
        display: block;
    }

    .cta__r {
        @include respond( $break-tablet-medium ) {
            padding-top: $expander-1;
        }
    }
}
.cta__desc {
    margin-top: 20px;
}
.cta__icon {
    margin-bottom: 20px;
}
.cta__link {
    margin-top: 40px;
}
