.footer {
    background-color: $black;
    color: $white;
    padding-top: $expander-2;
    transition: color $base-duration $ease,
                opacity $base-duration $ease,
                background-color $base-duration $ease;

    .is-tranny & {
        opacity: 0;
        pointer-events: none;
    }

    .svg--mark {
        fill: $white;

        .is-theme-black & {
            fill: $black;
        }
    }

    .form__input {
        color: $white;
        border-color: $white;

        .is-theme-black & {
            color: $black;
            border-color: $black;
        }

        &::-webkit-input-placeholder {
            color: $grey3;

            .is-theme-black & {
                color: $grey2;
            }
        }
    }

    .form__input + .form__sub {
        .is-hoverable &:hover {
            color: $white;
        }
        .is-hoverable.is-theme-black &:hover {
            color: $black;
        }
    }

    .is-theme-black & {
        background-color: $white;
        color: $black;
    }
}
.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .footer__l {
        width: 55vw;
    }
    .footer__r {
        width: 30vw;

        @include respond( $break-tablet-small ) {
            padding-top: $expander-2;
        }
    }
    .footer__l,
    .footer__r {
        @include respond( $break-tablet-small ) {
            width: 100%;
        }
    }
}
.footer__stories {
    padding-bottom: $expander-2;
}
.footer__navi {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include respond( $break-tablet-small ) {
        height: auto;
        padding-top: $expander-1;
        padding-bottom: $expander-1;
    }

    .footer__social {
        .footer__a:first-child {
            @include respond( $break-tablet-small ) {
                display: none;
            }
        }
    }

    .footer__social {
        @include respond( $break-tablet-small ) {
            width: 100%;
            justify-content: space-between;
        }
    }
    .footer__legal {
        @include respond( $break-tablet-small ) {
            width: 100%;
            justify-content: center;
            margin-top: $padding-1;
        }
    }
}
.footer__social {
    @include flex-left();

    .footer__a + .footer__a {
        &:nth-child( 2 ) {
            @include respond( $break-tablet-small ) {
                margin-left: 0;
            }
        }
    }
}
.footer__legal {
    @include flex-right();
}
.footer__a + .footer__a {
    margin-left: 30px;
}
