.footer {
    padding-top: $expander-2;

    .is-tranny & {
        opacity: 0;
        pointer-events: none;
    }
}
.footer__newsletter {
    .form {
        padding-top: $padding-1;
    }
}
.footer__navi {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include respond( $break-tablet-small ) {
        height: auto;
        padding-top: $expander-1;
        padding-bottom: $expander-1;
    }

    .footer__social {
        .footer__a:first-child {
            @include respond( $break-tablet-small ) {
                display: none;
            }
        }
    }

    .footer__social {
        @include respond( $break-tablet-small ) {
            width: 100%;
            justify-content: space-between;
        }
    }
    .footer__legal {
        @include respond( $break-tablet-small ) {
            width: 100%;
            justify-content: center;
            margin-top: $padding-1;
        }
    }
}
.footer__social {
    @include flex-left();

    .footer__a + .footer__a {
        &:nth-child( 2 ) {
            @include respond( $break-tablet-small ) {
                margin-left: 0;
            }
        }
    }
}
.footer__legal {
    @include flex-right();
}
.footer__a + .footer__a {
    margin-left: 30px;
}
