.header {
    @include flex-left();
    height: $header-height;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_header;
    pointer-events: none;
    transition: height $fast-duration $ease,
                background-color $fast-duration $ease;
    transform: translate3d( 0, 0, 0 );

    .logo,
    .navi,
    .menu {
        pointer-events: auto;
    }

    .is-scroll-down & {
        height: $header-height-scrolling;

        @include respond( $navi-break ) {
            height: $header-height-scrolling-mobile;
        }
    }

    .is-theme-black & {
        background-color: $black;
    }

    .is-theme-white & {
        background-color: $white;
    }

    .is-navi-mobile-open & {
        background-color: $white;
    }

    @include respond( $navi-break ) {
        justify-content: space-between;
        height: $header-height-mobile;
    }
}



.logo {
    .svg--logo {
        .is-theme-black & {
            fill: $white;
        }

        .is-navi-mobile-open & {
            fill: $black;
        }
    }
}



.menu {
    cursor: pointer;
    display: none;

    @include respond( $navi-break ) {
        display: block;
    }

    .svg--ex,
    .svg--navi {
        .is-navi-mobile-open & {
            fill: $black;
        }
    }
}
.menu__ex {
    display: none;

    .is-navi-mobile-open & {
        display: block;
    }
}
.menu__navi {
    display: block;

    .is-navi-mobile-open & {
        display: none;
    }
}
