.home {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .is-home-page & {
        padding-top: 0;
    }

    .slice {
        height: 100vh;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        transition: opacity $base-duration $ease;

        &.is-active {
            opacity: 1;
            pointer-events: auto;
            z-index: 2;
        }
    }

    .svg--mark-fluid {
        position: absolute;
        left: 0;
        top: 0;
    }
}
.home--mobilized {
    height: auto;

    .slice {
        position: relative;
        opacity: 1;
        pointer-events: auto;
    }
}



// REEL
.slice--home-reel {
    .home--mobilized & {
        background-color: $black;
    }
}
.home__reel-video {
    .video__ui {
        position: absolute;
        left: 0;
        bottom: 30px;
        opacity: 0;
        pointer-events: none;
    }

    .video__wrap {
        cursor: default;
    }

    &.is-fs {
        .video__ui {
            opacity: 1;
            z-index: 1;
            pointer-events: auto;
        }
        .media-overlay {
            opacity: 0;
        }
    }
}
.home__reel-mark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .svg {
        transform: translate3d( -100%, 0, 0 );
        transition: fill $long-duration $ease,
                    transform $long-duration $ease;

        .home--mobilized & {
            transform: translate3d( -55%, 0, 0 );
        }
    }

    &.is-full .svg {
        transform: translate3d( 0, 0, 0 );
    }
    &.is-half .svg {
        fill: $white;
        transform: translate3d( -50%, 0, 0 );
    }
}
.home__reel-desc {
    width: 100%;
    max-width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d( -50%, -25%, 0 );
    opacity: 0;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-anim {
        transform: translate3d( -50%, -50%, 0 );
        opacity: 1;
    }
    &.is-animo {
        transform: translate3d( -50%, -75%, 0 );
        opacity: 0;
    }

    .home--mobilized & {
        transform: translate3d( -50%, -50%, 0 );
        opacity: 1;
    }
}
.home__reel-cta {
    position: absolute;
    left: 0;
    bottom: 50px;
    transform: translate3d( 0, 100%, 0 );
    opacity: 0;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-anim {
        transform: translate3d( 0, 0, 0 );
        opacity: 1;
    }

    .home--mobilized & {
        transform: translate3d( 0, 0, 0 );
        opacity: 1;
        bottom: 40px;
    }

    @include respond( $navi-break ) {
        left: 0;
    }
}
.home__reel-ex {
    position: absolute;
    right: 75px;
    top: $header-height / 2;
    transform: translate3d( 0, -50%, 0 );
    opacity: 0;
    pointer-events: none;
    transition: opacity $base-duration $ease;
    cursor: pointer;

    &.is-anim {
        opacity: 1;
        pointer-events: auto;
    }
}



// ABOUT
.slice--home-about {
    .home--mobilized & {
        background-color: $white;
        color: $black;
    }
}
.home__about-mark {
    visibility: hidden;
    pointer-events: none;

    .svg {
        transform: translate3d( -50%, 0, 0 );
    }

    .home--mobilized & {
        display: none;
    }
}
.home__about-image {
    left: 0;
    height: calc( 100vh - 12vw );
    top: 12vw;
    position: absolute;
    width: 100vw;

    .home--mobilized & {
        top: 0;
        height: 70vh;
        width: 60vw;
    }

    .image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translate3d( 0, 0, 0 );
        transition: -webkit-clip-path $base-duration $ease,
                    clip-path $base-duration $ease;
        background-position: 0 0;
        background-size: cover;
    }
    .image:last-child {
        .home--mobilized & {
            display: none;
        }
    }
    .image:first-child {
        .home--mobilized & {
            width: 60vw;
            height: 70vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 10% 0;
        }
    }
}
.home__about-desc {
    @include wrapr();
    position: absolute;
    top: 14vw;
    left: 52vw;
    transform: translate3d( 0, 25%, 0 );
    opacity: 0;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    @include respond( $break-tablet-medium ) {
        left: 0;
        max-width: 768px;
        top: 50%;
        transform: translate3d( 0, -50%, 0 );
        @include wrap();
    }

    &.is-anim {
        transform: translate3d( 0, 0, 0 );
        opacity: 1;

        @include respond( $break-tablet-medium ) {
            transform: translate3d( 0, -50%, 0 );
        }
    }
    &.is-animo {
        transform: translate3d( 0, -25%, 0 );
        opacity: 0;
    }

    .home--mobilized & {
        height: 100vh;
        transform: translate3d( 0, 0, 0 );
        opacity: 1;
        top: 0;
        left: 0;
        @include wrap();
        padding-top: 25vw;
    }
}
.home__about-cta {
    padding-left: 10vw;
    padding-top: 40px;

    @include respond( $break-tablet-medium ) {
        padding-left: 0;
    }

    .link {
        margin-top: 20px;
    }

    .home--mobilized & {
        padding-left: 0;
        position: absolute;
        bottom: 0;
        padding-bottom: 40px;
    }
}
.home__about-label {
    margin-bottom: 20px;
}



// DISCOVER
.slice--home-discover {
    .home--mobilized & {
        background-color: $black;
        color: $white;
    }
}
.home__about-mark {
    visibility: hidden;
    pointer-events: none;
}
.home__discover-image {
    left: 0;
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;

    .image {
        position: absolute;
        left: 20vw;
        top: 12vw;
        width: calc( 100vw - 20vw );
        height: calc( 100vh - 12vw );
        transform: translate3d( 0, 0, 0 );
        transition: -webkit-clip-path $base-duration $ease,
                    clip-path $base-duration $ease,
                    width $base-duration $ease,
                    height $base-duration $ease,
                    left $base-duration $ease,
                    top $base-duration $ease;
        background-position: 50% 50%;
        background-size: cover;

        .home--mobilized & {
            top: 32vw;
            left: auto;
            right: 0;
            width: 77.5vw;
            height: 90vw;
            transform: translate3d( 0, 0, 0 );
        }
    }
}
.home__discover-desc {
    width: 100%;
    max-width: 950px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d( 0, -25%, 0 );
    opacity: 0;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-anim {
        transform: translate3d( 0, -50%, 0 );
        opacity: 1;
    }
    &.is-animo {
        transform: translate3d( 0, -75%, 0 );
        opacity: 0;
    }

    .home--mobilized & {
        transform: translate3d( 0, -50%, 0 );
        opacity: 1;
        padding-top: 32vw;
    }
}
.home__discover-cta {
    padding-top: 40px;

    .link {
        margin-top: 20px;
    }
}
.home__discover-label {
    margin-bottom: 20px;
}



// STORIES
.slice--home-stories {
    .home--mobilized & {
        height: auto;
        background-color: $black;
        color: $white;
    }
}
.home__stories-posit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
    width: 100%;

    .home--mobilized & {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }
}
.home__stories-desc {
    padding-top: 10vw;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 700px;

    .link {
        margin-top: 40px;
    }
}
.home__stories-slider {
    .home--mobilized & {}

    .image-wrap {
        padding-bottom: 56.25% !important;
    }

    .slider--home {
        margin-top: 80px;
        padding-left: 27.027027027vw;
        position: relative;

        @include respond( $break-tablet-medium ) {
            padding-left: 40vw;
        }

        .home--mobilized & {
            padding-left: 0;
        }
    }

    .slider__splash {
        .home--mobilized & {
            position: relative;
            width: 100%;
        }
    }
    .slider__splash__item {
        .home--mobilized & {
            padding-bottom: $padding-1 * 2;
            padding-top: $padding-1 * 4;
        }

        .link {
            .home--mobilized & {
                margin-top: 30px;
            }
        }
    }
    .slider__splash__item p {
        .home--mobilized & {
            width: 100%;
        }
    }
    .slider__item {
        .home--mobilized & {
            width: 100%;
        }
    }
    .slider__item:not( :first-child ) {
        .home--mobilized & {
            margin-left: 20px;

            @include respond-min( $mobile-width ) {
                margin-left: $padding-v;
            }
        }
    }
    .slider__pane {
        .home--mobilized & {
            @include wrap();
        }
    }
}
