.home {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .is-home-page & {
        padding-top: 0;
    }

    .slice {
        height: 100vh;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        transition: opacity $base-duration $ease;

        &.is-active {
            opacity: 1;
            pointer-events: auto;
            z-index: 2;
        }
    }

    .svg--mark-fluid {
        position: absolute;
        left: 0;
        top: 0;
    }
}



// REEL
.home__reel-video {
    .video__ui {
        position: absolute;
        left: 0;
        bottom: 30px;
        opacity: 0;
        pointer-events: none;
    }

    .video__wrap {
        cursor: default;
    }

    &.is-fs {
        .video__ui {
            opacity: 1;
            z-index: 1;
            pointer-events: auto;
        }
    }
}
.home__reel-mark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .svg {
        transform: translate3d( -100%, 0, 0 );
        transition: transform $long-duration $ease;
    }

    &.is-full .svg {
        transform: translate3d( 0, 0, 0 );
    }
    &.is-half .svg {
        transform: translate3d( -50%, 0, 0 );
    }
}
.home__reel-desc {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d( 0, -25%, 0 );
    opacity: 0;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-anim {
        transform: translate3d( 0, -50%, 0 );
        opacity: 1;
    }
    &.is-animo {
        transform: translate3d( 0, -75%, 0 );
        opacity: 0;
    }
}
.home__reel-cta {
    position: absolute;
    left: 16.216216216vw;
    bottom: 50px;
    transform: translate3d( 0, 100%, 0 );
    opacity: 0;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-anim {
        transform: translate3d( 0, 0, 0 );
        opacity: 1;
    }

    @include respond( $navi-break ) {
        left: 0;
    }
}
.home__reel-ex {
    position: absolute;
    right: 75px;
    top: $header-height / 2;
    transform: translate3d( 0, -50%, 0 );
    opacity: 0;
    pointer-events: none;
    transition: opacity $base-duration $ease;
    cursor: pointer;

    &.is-anim {
        opacity: 1;
        pointer-events: auto;
    }
}



// ABOUT
.home__about-mark {
    visibility: hidden;
    pointer-events: none;

    .svg {
        transform: translate3d( -50%, 0, 0 );
    }
}
.home__about-image {
    left: 0;
    height: calc( 100vh - 12vw );
    top: 12vw;
    position: absolute;
    width: 100vw;

    .image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translate3d( 0, 0, 0 );
        transition: clip-path $base-duration $ease;
        background-position: 0 0;
        background-size: cover;
    }
}
.home__about-desc {
    position: absolute;
    top: 14vw;
    left: 52vw;
    transform: translate3d( 0, 25%, 0 );
    opacity: 0;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-anim {
        transform: translate3d( 0, 0, 0 );
        opacity: 1;
    }
    &.is-animo {
        transform: translate3d( 0, -25%, 0 );
        opacity: 0;
    }
}
.home__about-cta {
    padding-left: 10vw;
    padding-top: $expander-1;

    .link {
        margin-top: $expander-1 / 2;
    }
}
.home__about-label {
    margin-bottom: $expander-1 / 2;
}



// DISCOVER
.home__about-mark {
    visibility: hidden;
    pointer-events: none;
}
.home__discover-image {
    left: 0;
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;

    .image {
        position: fixed;
        left: 20vw;
        top: 12vw;
        width: calc( 100vw - 20vw );
        height: calc( 100vh - 12vw );
        transform: translate3d( 0, 0, 0 );
        transition: clip-path $base-duration $ease,
                    width $base-duration $ease,
                    height $base-duration $ease,
                    left $base-duration $ease,
                    top $base-duration $ease;
        background-position: 50% 50%;
        background-size: cover;
    }
}
.home__discover-desc {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d( 0, -25%, 0 );
    opacity: 0;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-anim {
        transform: translate3d( 0, -50%, 0 );
        opacity: 1;
    }
    &.is-animo {
        transform: translate3d( 0, -75%, 0 );
        opacity: 0;
    }
}
.home__discover-cta {
    padding-top: $expander-1;

    .link {
        margin-top: $expander-1 / 2;
    }
}
.home__discover-label {
    margin-bottom: $expander-1 / 2;
}



// STORIES
.home__stories-desc {
    padding-top: 10.472972973vw;
    position: relative;
    z-index: 2;

    .link {
        margin-top: $expander-1 / 2;
    }
}
.home__stories-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .slider {
        position: absolute;
        padding-left: 27.027027027vw;
        bottom: 100px;
    }
}
