.main {
    transition: opacity $base-duration $ease;

    .is-tranny & {
        opacity: 0;
        pointer-events: none;
    }
}
.main__header__image {
    width: 90vw;

    @include respond( $mobile-width ) {
        width: 100vw;
    }
}
.main__header__deets {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    padding-right: 0;

    @include respond( $mobile-width ) {
        width: 100vw;
        padding-right: $padding-v;
        flex-wrap: wrap;
    }
}
.main__header__deets__l {
    max-width: $p-wrap;
    width: 100%;
    @include wrapr();

    @include respond( $mobile-width ) {
        max-width: 100%;
        order: 2;
    }
}
.main__header__deets__r {
    @include respond( $mobile-width ) {
        order: 1;
    }
}
.main__header__desc {
    width: 90vw;

    .taxonomy & {
        max-width: $p-wrap;
    }
    .main__header__deets & {
        width: 100%;
    }

    @include respond( $mobile-width ) {
        width: 100vw;
    }
}
.main__header__title {
    width: 90vw;

    @include respond( $mobile-width ) {
        width: 100vw;
    }
}



.terms,
.privacy {
    @include wrap();
}
