.main {
    transition: opacity $base-duration $ease;

    .is-tranny & {
        opacity: 0;
        pointer-events: none;
    }
}
.main__header {}
.main__header--image {
    .main__header__desc {
        padding-top: 0;
    }
}
.main__header__image {
    padding-top: $expander-2 / 2;
    padding-bottom: 100px;
    width: 90vw;
}
.main__header__desc {
    max-width: 1048px;
    width: 100%;
    padding-top: $expander-2;
}
.main__header__title {
    opacity: 0;
    transform: translate3d( 0, 100%, 0 );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    .is-paged & {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
    }
}
.main__header__image {
    opacity: 0;
    transform: translate3d( 0, 100%, 0 );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    .is-paged & {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
    }
}
