.navi {
    @include flex-left();

    @include respond( $navi-break ) {
        display: none;
    }
}
.navi__a {
    position: relative;

    &.is-active {
        &:after {
            background-color: $spot;
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate3d( 0, 6px, 0 );
            transition: transform $fast-duration $ease,
                        background-color $base-duration $ease;

            .is-scroll-down & {
                transform: translate3d( 0, 24px, 0 );
            }
        }
    }
}
.navi__a {
    margin-left: $padding-1 * 2;
}



.navi-mobile {
    position: fixed;
    color: $black;

    .is-navi-mobile-open & {
        pointer-events: auto;
    }
}
.navi-mobile__a {
    margin-top: $padding-1;
    display: block;

    &.is-active {
        color: $spot;
    }
}
