.navi {
    @include flex-left();
}
.navi__a {
    position: relative;

    &.is-active {
        &:after {
            background-color: $spot;
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate3d( 0, 10px, 0 );
            transition: background-color $base-duration $ease-before;
        }
    }

    .is-theme-spot &.is-active:after {
        background-color: $white;
    }
}
.navi__a + .navi__a {
    margin-left: 60px;
}
