.process {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @include wrapl();

    @include respond( $break-tablet-medium ) {
        display: block;
        @include wrap();
    }
}
.process__story {
    width: 100%;
    max-width: 450px;

    @include respond( $break-tablet-medium ) {
        max-width: 100%;
        display: flex;
        align-items: flex-start;
    }

    @include respond( $mobile-width ) {
        display: block;
    }
}
.process__info,
.process__article {
    @include respond( $break-tablet-medium ) {
        width: 50%;
    }

    @include respond( $mobile-width ) {
        width: 100%;
    }
}
.process__info {
    @include respond( $break-tablet-medium ) {
        padding-left: 0;
        padding-right: 10vw;
    }
}
.process__slider {
    width: calc( 100% - 450px );

    @include respond( $break-tablet-medium ) {
        padding-top: 10vw;
        width: 100%;
    }

    .slider {
        padding-left: 10vw;

        @include respond( $break-tablet-medium ) {
            padding-left: 0;
        }
    }
    .slider__item {
        @include respond( $break-tablet-medium ) {
            width: 70vw;
        }
    }
    .slider__navi {
        @include respond( $break-tablet-medium ) {
            padding-right: 0;
        }
    }
}
.process__desc {
    padding: 30px 0 50px;
}
.process__article {
    position: relative;
    display: block;
}
.process__article__info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    width: 100%;

    h6 {
        padding-bottom: 25px;
    }
}



.promo {
    position: relative;
}
.promo--b {
    text-align: left;
}
.promo--a {
    text-align: right;
}
.promo__tag {
    padding-bottom: 25px;
}
.promo__image {
    display: inline-block;
    width: 75vw;

    .promo--large & {
        @include respond( $mobile-width ) {
            width: 85vw;
        }
    }

    .promo--xl & {
        width: 100vw;
    }
}
.promo__info {
    width: 75vw;
    position: absolute;
    top: 50%;
    transform: translateY( -50% );
    text-align: left;
    left: 0;
    @include wrapl();

    @include respond( $mobile-width ) {
        width: 100vw;
        @include wrap();
    }
}
.promo__desc {
    max-width: 780px;
    width: 100%;
    padding-top: 30px;
}
.promo__link {
    display: block;
}



.location {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    @include respond( $break-tablet-full ) {
        display: block;
    }

    .mapboxgl-ctrl-logo,
    .mapboxgl-ctrl-attrib {
        display: none;
    }
}
.location__l {
    width: 35%;

    @include respond( $break-tablet-full ) {
        width: 100%;
    }
}
.location__r {
    width: 65%;

    @include respond( $break-tablet-full ) {
        width: 100%;
    }
}
.location__map {
    display: block;
    position: absolute;
    left: 0;
    width: 35%;
    bottom: 0;

    @include respond( $break-tablet-full ) {
        width: 50%;
        position: relative;
        left: auto;
        bottom: auto;
        display: inline-block;
        vertical-align: middle;
    }

    @include respond( $break-tablet-small ) {
        width: 100%;
    }

    .map {
        padding-bottom: 56.25%;
        width: 100%;

        // @include respond( $break-tablet-full ) {
        //     padding-bottom: 75%;
        // }

        @include respond( $break-tablet-small ) {
            padding-bottom: 56.25%;
        }
    }
}
.location__addy {
    width: 100%;
    @include wrapl();

    @include respond( $break-tablet-full ) {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        @include wrap();
    }

    @include respond( $break-tablet-small ) {
        width: 100%;
        padding-bottom: 40px;
    }

    p {
        line-height: 2;
    }

    h4 {
        padding-bottom: 20px;
    }
}



.terms,
.privacy {
    p a {
        color: $spot;
    }
}
