.screen {
    background-color: transparent;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $fast-duration $ease,
                z-index $fast-duration $ease,
                visibility $fast-duration $ease;
    visibility: hidden;
    z-index: $z_layer_behind;

    &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_screen;
        -webkit-overflow-scrolling: touch;
        }
    }
.screen--black {
    background-color: $black;
    }
.screen--white {
    background-color: $white;
    }




.formover {
    text-align: left;
    z-index: $z_layer_header + 1;

    &.is-active {
        pointer-events: auto;
        overflow: hidden;
        z-index: $z_layer_header + 1;
    }
}
.formover__navis {
    @include flex-left();
    height: $header-height;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    @include respond( $navi-break ) {
        height: $header-height-mobile;
    }
}
.formover__panel {
    @include padh();
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
    opacity: 0;
    transition: opacity $base-duration $ease;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include respond( $navi-break ) {
        display: block;
    }

    &.is-active {
        opacity: 1;
        pointer-events: auto;
    }
}
.formover__info,
.formover__form  {
    width: 100%;
    max-width: 38.513513514vw;
    padding-top: 80px;

    @include respond( $navi-break ) {
        max-width: 100%;
        padding-top: 50px;
    }
}
.formover__title {
    padding: 15px 0 40px;
}
.formover__navi {
    cursor: pointer;
    position: relative;

    &:after {
        content: "";
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -5px;
        background-color: $spot;
        display: none;
        right: 3px;
    }

    &.is-active {
        color: $spot;

        &:after {
            display: block;
        }
    }
}
.formover__navi + .formover__navi {
    margin-left: 50px;
}
.formover__ex {
    position: absolute;
    top: $header-height / 2;
    transform: translate3d( 0, -50%, 0 );
    cursor: pointer;
    right: 20px;

    @include respond-min( $mobile-width ) {
        right: $padding-v;
    }

    @include respond( $navi-break ) {
        top: $header-height-mobile / 2;
    }
}
