.screen {
    background-color: transparent;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $fast-duration $ease,
                z-index $fast-duration $ease,
                visibility $fast-duration $ease;
    visibility: hidden;
    z-index: $z_layer_behind;

    &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_screen;
        -webkit-overflow-scrolling: touch;
        }
    }
.screen--black {
    background-color: $black;
    color: $white;
}
.screen--white {
    background-color: $white;
    color: $black;
}




.formover {
    text-align: left;
    z-index: $z_layer_header + 1;

    &.is-active {
        pointer-events: auto;
        overflow: hidden;
        z-index: $z_layer_header + 1;
    }
}
.formover__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.formover__navis {
    @include flex-left();
    height: $header-height;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    @include respond( $navi-break ) {
        height: $header-height-mobile;
        @include padh();
    }
}
.formover__panel {
    @include padh();
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity $base-duration $ease;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;

    @include respond( $navi-break ) {
        display: block;
    }

    &.is-active {
        opacity: 1;
        pointer-events: auto;
        position: relative;
        height: auto;

        @include respond( $navi-break ) {
            padding-bottom: 50px;
        }
    }
}
.formover__info {
    width: 60%;
    padding-top: 80px;

    @include respond( $navi-break ) {
        width: 100%;
        padding-top: 50px;
    }
}
.formover__form {
    width: 40%;
    padding-top: 80px;

    @include respond( $navi-break ) {
        width: 100%;
        padding-top: 50px;
    }
}
.formover__title {
    padding: 40px 0 40px;
}
.formover__desc {
    padding-right: 20vw;
}
.formover__navi {
    cursor: pointer;
    position: relative;
}
.formover__navi + .formover__navi {
    margin-left: 50px;

    @include respond( $navi-break ) {
        margin-left: 25px;
    }
}
.formover__ex {
    position: absolute;
    top: $header-height / 2;
    transform: translate3d( 0, -50%, 0 );
    cursor: pointer;
    right: 20px;
    z-index: 2;

    @include respond-min( $mobile-width ) {
        right: $padding-v;
    }

    @include respond( $navi-break ) {
        top: $header-height-mobile / 2;
    }
}
