.slider {
    white-space: nowrap;
    width: 100%;
    user-select: none;
}
.slider--home {
    position: absolute;
    padding-left: 27.027027027vw;
    bottom: 100px;

    @include respond( $bind-width ) {
        bottom: 40px;
    }
}
.slider--edge {
    letter-spacing: 0px;
}
.slider--paddy {
    @include wrapl();
}
.slider__cap,
.slider__title {
    padding-top: 20px;
    width: 100%;
    max-width: 450px;
    white-space: normal;
}
.slider__pane {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.slider__belt {
    transition: transform $base-duration $ease;
}
.slider__item {
    width: 50vw;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    letter-spacing: normal;
    white-space: normal;

    &:not( :first-child ) {
        margin-left: 10vw;
    }

    .image,
    .image-wrap {
        pointer-events: none;
    }

    .slider--edge & {
        width: 100vw;
    }

    .slider--paddy & {
        width: 70vw;
    }

    .slider--work & {
        width: 32vw;
    }
}
.slider__navi {
    white-space: nowrap;
    padding-top: 20px;
    text-align: center;
    padding-right: $padding-v;
    padding-left: $padding-v;

    .slider--home &,
    .slider--paddy & {
        text-align: right;
    }
    .slider--work & {
        text-align: right;
        padding-top: 40px;
    }
}
.slider__navi__next {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transform: scaleX( -1 );
    padding: 0 10px;
}
.slider__navi__prev {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 10px;
}
.slider__navi__curr {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 10px;
    background-color: $black;
    transition: width $fast-duration $ease,
                background-color $fast-duration $ease;

    & + .slider__navi__curr {
        margin-left: 10px;
    }

    .is-theme-black & {
        background-color: $white;
    }

    &.is-active {
        width: 20px;
        background-color: $spot;
    }
}



// SPLASH
.slider__splash {
    white-space: normal;
    letter-spacing: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 38.716216216vw;
    z-index: 1;

    &:before {
        content: attr(data-label);
        @include h6();
        @include wrap();
    }
}
.slider__splash__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: $padding-1 * 2;
    pointer-events: none;

    p {
        padding-top: $padding-1;
        padding-bottom: $padding-1;
        width: 22.5vw;
    }

    p,
    a,
    h4 {
        opacity: 0;
        transform: translate3d( 0, $padding-1, 0 );
        transition: opacity $base-duration $ease,
                    transform $base-duration $ease;
    }

    p {
        transition-delay: 50ms;
    }

    a {
        transition-delay: 100ms;
    }

    &.is-active {
        pointer-events: auto;

        p,
        a,
        h4 {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
        }
    }

    &.is-exit {
        p,
        a,
        h4 {
            opacity: 0;
            transform: translate3d( 0, -50%, 0 );
        }
    }
}
