.spacer {
    height: $expander-2;
    position: relative;
    background-color: $white;

    .is-theme-black & {
        background-color: $black;
    }

    @include respond-min( $mobile-width ) {
        height: $expander-1;
    }
}
.spacer--stories {
    height: $header-height;

    @include respond( $navi-break ) {
        height: $header-height-mobile;
    }
}
.slices:not( .home__slices ) .slice {
    position: relative;
    background-color: $white;

    .is-theme-black & {
        background-color: $black;
    }
}
.slice--text {
    @include wrap();
}
.slice--text__node {
    @include wrap-p();
    text-align: left;
}
.slice--page-header {
    &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 80px;
        background-color: $white;
        // outline: 1px solid red;

        .is-theme-black & {
            background-color: $black;
        }

        .stories__slices & {
            display: none;
        }
    }
}
