.slice--form {
    .form__input + .form__sub {
        .is-hoverable &:hover {
            color: $black;
        }
        .is-hoverable.is-theme-black &:hover {
            color: $white;
        }
    }
}
.slice--text {
    p + p {
        margin-top: $p-bump;
        }
}
