.slice--form {
    .form__input + .form__sub {
        .is-hoverable &:hover {
            color: $black;
        }
        .is-hoverable.is-theme-black &:hover {
            color: $white;
        }
    }
}
.slice--text {
    p + p,
    h4 + p {
        margin-top: $p-bump;
    }

    h6 + h4 {
        margin-top: 20px;
    }
}
.slice--text + .slice--ctas {
    padding-top: 90px;
}
