.story {
    .slice--text {
        @include wrap();
    }
}



.authors__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 (-5vw);
}
.authors__label {
    padding-bottom: 50px;
}
.authors__tile {
    width: 50%;
    display: inline-block;
    display: flex;
    align-items: flex-start;
    padding: 0 5vw;
    margin-bottom: 100px;

    &:last-child {
        @include respond( $break-tablet-small ) {
            margin-bottom: 0;
        }
    }

    @include respond( $break-tablet-small ) {
        width: 100%;
        margin-bottom: 50px;
    }
}
.authors__thumb {
    width: 90px;
}
.authors__info {
    padding-left: 25px;
    width: calc( 100% - 90px );

    p {
        padding-top: 20px;
    }
}



.related--page {
    // $break-tablet-small
    padding-top: 0;

    @include respond-min( $mobile-width ) {
        padding-top: $expander-1;
    }
}
.related--story,
.related--casestudy {
    border-top: 1px solid $grey4;
    border-bottom: 1px solid $grey4;
}
.related__banner {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.related__stories {
    display: inline-block;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    .related--story &,
    .related--casestudy & {
        padding: 50px 0;
    }
}
.related__story {
    width: 45%;
    position: relative;

    @include respond( $break-tablet-small ) {
        width: 100%;
    }

    & + .related__story {
        @include respond( $break-tablet-small ) {
            padding-top: 80px;
        }
    }
}
.related__title {
    padding: 20px 0;

    h3 {
        @include respond( $break-tablet-medium ) {
            font-size: $h4-size-mobile;
            @include wrapr();
        }
    }
}
.related__tag {
    .related--story &,
    .related--casestudy & {
        padding-top: 20px;
    }
}
.related__image {
    position: relative;
    z-index: 1;
}
.related__info {
    position: relative;
    z-index: 2;

    .related--page & {
        @include wrapl();
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY( -80% );

        @include respond( $break-tablet-small ) {
            position: relative;
            transform: none;
            @include wrap();
        }
    }
}
