.svg {
    fill: $black;
    transition: fill $base-duration $ease-before;
}
.svg--lite {
    fill: $white;
}
.svg--logo {
    width: 93px;
    height: 13px;
}
.svg--mark {
    width: 39px;
    height: 23px;

    .is-theme-black & {
        fill: $white;
    }
}
.svg--mark-fluid {
    width: auto;
    height: 100vh;
}
.svg--arrow {
    width: 27px;
    height: 5px;
}
.svg--play,
.svg--pause,
.svg--sound,
.svg--fs,
.svg--prev,
.svg--navi,
.svg--careers,
.svg--media,
.svg--work,
.svg--ex {
    .is-theme-black & {
        fill: $white;
    }
}
.svg--play {
    width: 9px;
    height: 13px;
}
.svg--pause {
    height: 11px;
    width: 11px;
}
.svg--fs {
    height: 13px;
    width: 16px;
}
.svg--sound {
    height: 12.6px;
    width: 14px;
}
.svg--navi {
    width: 21px;
    height: 10px;
}
.svg--ex-mobile {
    width: 17px;
    height: 17px;
}
.svg--ex {
    height: 19px;
    width: 19px;
}
.svg--prev {
    width: 9.5px;
    height: 14.8px;
}
.svg--article {
    width: 13.3px;
    height: 13px;
}
.svg--work {
    width: 28px;
    height: 28px;
}
.svg--media {
    width: 28px;
    height: 28px;
}
.svg--careers {
    width: 28px;
    height: 28px;
}
.svg--map-marker {
    height: 22px;
    width: 22px;
    transition: transform $base-duration $ease;

    .is-hoverable &:hover {
        transform: scale( 1.5 );
    }
}



// Spot override
.svg--spot {
    fill: $spot;

    .is-theme-black & {
        fill: $spot;
    }
}
