.taxi {
    @include p();
    line-height: 1;
}
.taxi__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 1px;
}
.taxi__tag {
    position: relative;
}
.taxi__label + .taxi__tag {
    margin-left: 20px;
}
.taxi__tag + .taxi__tag {
    margin-left: 40px;
}
