@mixin taxi-field() {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 13px;
}




.taxi {
    @include p();
    color: $grey2;
    line-height: 1;
}
.taxi__fields {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include respond( $mobile-width ) {
        flex-wrap: wrap;
    }
}
.taxi__select {
    position: relative;
    display: inline-block;
    width: $taxi-input-width;
    max-width: 100%;
    cursor: pointer;
    user-select: none;

    @include respond( $mobile-width ) {
        width: 100%;
    }
}
.taxi__show {
    @include taxi-field();
    position: relative;
    background-color: transparent;
    border: 1px solid $black;

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $black;
        transform: translate3d( -20px, -50%, 0 );
        position: absolute;
        top: 50%;
        right: 0;
    }
}
.taxi__menu {
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    background-color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d( 0, 40px, 0 );
    pointer-events: none;
    opacity: 0;
    transition: opacity $base-duration $ease;

    &.is-active {
        opacity: 1;
        pointer-events: auto;
    }
}
.taxi__option {
    @include taxi-field();
    color: $black;
    padding: 0 26px;
    transition: color $base-duration $ease;

    &.is-active {
        color: $spot;

        &:before {
            border-color: $spot;
            background-color: $spot;
        }
    }

    &:before {
        margin-right: 20px;
        content: "";
        height: 9px;
        width: 9px;
        border-radius: 9px;
        border: 1px solid $black;
        transition: border-color $base-duration $ease,
                    background-color $base-duration $ease;
    }
}
.taxi__cats {
    z-index: 2;
}
.taxi__tags {
    z-index: 1;
}
.taxi__cats,
.taxi__tags {
    position: relative;

    @include respond( $mobile-width ) {
        width: 100%;
    }
}
.taxi__tags,
.taxi__sub {
    margin-left: $padding-1;

    @include respond( $mobile-width ) {
        margin-left: 0;
        margin-top: $padding-1 / 2;
    }
}
.taxi__sub {
    .is-hoverable &:hover {
        color: $black;
    }
}
