/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-family-main-regular() {
    font-family: $font-family-main-regular;
    @include font-normal();
}
@mixin font-family-main-semibold() {
    font-family: $font-family-main-semibold;
    @include font-normal();
}
@mixin font-family-meta-regular() {
    font-family: $font-family-meta-regular;
    @include font-normal();
}
@mixin font-family-meta-medium() {
    font-family: $font-family-meta-medium;
    @include font-normal();
}


/******************************************************************************
 * Type
*******************************************************************************/
@mixin p() {
    font-size: $p-size;
    line-height: $p-line;
    @include font-family-meta-regular();
}
@mixin li() {
    padding-left: 20px;
    @include p();
}
@mixin ol-li() {
    list-style: decimal;
}
@mixin ul-li() {
    list-style: disc;
}
@mixin h1() {
    font-size: $h1-size-mobile;
    line-height: $h1-line;
    @include font-family-main-semibold();

    @include respond-min( $mobile-width ) {
        font-size: $h1-size-fluid;
    }

    @include respond-min( $bind-width ) {
        font-size: $h1-size;
    }
}
@mixin h2() {
    font-size: $h2-size-mobile;
    line-height: $h2-line;
    @include font-family-main-semibold();

    @include respond-min( $mobile-width ) {
        font-size: $h2-size-fluid;
    }

    @include respond-min( $bind-width ) {
        font-size: $h2-size;
    }
}
@mixin h3() {
    font-size: $h3-size-mobile;
    line-height: $h3-line;
    @include font-family-main-regular();

    @include respond-min( $mobile-width ) {
        font-size: $h3-size-fluid;
    }

    @include respond-min( $bind-width ) {
        font-size: $h3-size;
    }
}
@mixin h4() {
    font-size: $h4-size-mobile;
    line-height: $h4-line;
    @include font-family-main-regular();

    @include respond-min( $mobile-width ) {
        font-size: $h4-size-fluid;
    }

    @include respond-min( $bind-width ) {
        font-size: $h4-size;
    }
}
@mixin h5() {
    font-size: $h5-size-mobile;
    line-height: $h5-line;
    @include font-family-main-regular();

    @include respond-min( $mobile-width ) {
        font-size: $h5-size-fluid;
    }

    @include respond-min( $bind-width ) {
        font-size: $h5-size;
    }
}
@mixin h6() {
    font-size: $h6-size;
    line-height: $h6-line;
    text-transform: uppercase;
    letter-spacing: 3px;
    @include font-family-meta-medium();
}
@mixin btn() {
    font-size: 12px;
    letter-spacing: 1.5px;
}



/******************************************************************************
 * Document states
*******************************************************************************/
@mixin state( $module, $state ) {
    .is-#{$module}-#{$state} & {
        @content;
    }
}
@mixin hover() {
    .is-hoverable &:hover {
        @content;
    }
}



/******************************************************************************
 * Media queries
 *
 * @see ../config/_variables.scss for Breakpoints
*******************************************************************************/
@mixin respond( $width ) {
    @media only screen and ( max-width: $width ) {
        @content;
    }
}
@mixin respond-min( $width ) {
    @media only screen and ( min-width: $width ) {
        @content;
    }
}
@mixin respond-min-max( $min, $max ) {
    @media only screen and ( min-width: $min ) and ( max-width: $max ) {
        @content;
    }
}



/******************************************************************************
 * Utility
*******************************************************************************/
@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-left() {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@mixin flex-right() {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@mixin wrap-p() {
    max-width: $p-wrap;
    width: 100%;
}
@mixin wrap() {
    padding-left: 20px;
    padding-right: 20px;

    @include respond-min( $mobile-width ) {
        padding-left: $padding-v;
        padding-right: $padding-v;
    }
}
@mixin wrapl() {
    padding-left: 20px;

    @include respond-min( $mobile-width ) {
        padding-left: $padding-v;
    }
}
@mixin wrapr() {
    padding-right: 20px;

    @include respond-min( $mobile-width ) {
        padding-right: $padding-v;
    }
}
@mixin exp() {
    padding-bottom: $expander-2;
    padding-top: $expander-2;

    @include respond-min( $mobile-width ) {
        padding-bottom: $expander-1;
        padding-top: $expander-1;
    }
}
@mixin padh() {
    padding-top: $header-height + $header-height;

    @include respond( $navi-break ) {
        padding-top: $header-height-mobile + $header-height-mobile;
    }
}
@mixin padm() {
    padding-top: calc( 16vw + #{$header-height} );

    @include respond-min( $bind-width ) {
        padding-top: calc( 310px + #{$header-height} );
    }
}
@mixin arrow-hover() {
    width: 38px;

    rect {
        transform: translate3d( 0, 0, 0 );
    }
    polygon {
        transform: translate3d( 11px, 0, 0 );
    }
}
@mixin media-overlay( $fill: $white ) {
    background-color: $fill;
    opacity: 0.25;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: opacity $base-duration $ease;
    pointer-events: none;
}
