/******************************************************************************
 * Fonts
*******************************************************************************/
// Semibold, Roman
$font-family-main-regular: "ChronicleDisplay-Roman";
$font-family-main-semibold: "ChronicleDisplay-Semibold";

// Regular, Medium
$font-family-meta-regular: "DINPro-Regular";
$font-family-meta-medium: "DINPro-Medium";



/******************************************************************************
 * Colors
*******************************************************************************/
$spot: #FF00A8; // Think pink ;-P
$black: #000;
$white: #fff;
$grey: #8B8B8B;
$grey2: #808080;
$grey3: #4F4F4F;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-1: 40px;
$expander-2: 80px;
$padding-1: 35px;



/******************************************************************************
 * Sizes
*******************************************************************************/
$header-height: 125px;
$bind-width: 1480px;
$mobile-width: 480px;




/******************************************************************************
 * Typography
 * Fluid type calculation:
 * $h1-size-fluid: calc( #{$h1-size-mobile} + ???vw );
*******************************************************************************/
$p-bump: 24px;
$p-size: 15px;
$p-line: 24 / 15;
$p-wrap: 530px;

$h1-size: 264px;
$h1-size-mobile: 96px;
$h1-size-fluid: calc( #{$h1-size-mobile} + 11.3vw );
// $h1-line: 133 / 264;
$h1-line: 1;

$h2-size: 112px;
$h2-size-mobile: 48px;
$h2-size-fluid: calc( #{$h2-size-mobile} + 4.325vw );
$h2-line: 120 / 112;

$h3-size: 64px;
$h3-size-mobile: 40px;
$h3-size-fluid: calc( #{$h3-size-mobile} + 1.625vw );
$h3-line: 72 / 64;

$h4-size: 48px;
$h4-size-mobile: 32px;
$h4-size-fluid: calc( #{$h4-size-mobile} + 1.08vw );
$h4-line: 56 / 48;

$h5-size: 32px;
$h5-size-mobile: 24px;
$h5-size-fluid: calc( #{$h5-size-mobile} + 0.54vw );
$h5-line: 40 / 32;

$h6-size: 10px;
$h6-line: 16 / 10;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-large: 2200px;
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease-before: cubic-bezier( 0.215, 0.61, 0.355, 1 );
$ease-after: cubic-bezier( 0.86, 0, 0.07, 1 );
$ease: ease;
$long-duration: 1000ms;
$base-duration: 500ms;
$fast-duration: 250ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_behind: -1;
$z_layer_menu: 1000;
$z_layer_screen: 1001;
$z_layer_header: 1002;
$z_layer_intro: 1003;
